:root { 
--green_300:#8be48b; 
--gray_50_01:#f8f9fa; 
--white_A700_b2:#ffffffb2; 
--gray_50_02:#f9f9f9; 
--gray_50_03:#fafafa; 
--gray_50_04:#f4f8ff; 
--red_600:#f22a2a; 
--light_blue_A100:#67d7fd; 
--blue_A200:#6193f6; 
--gray_800_02:#3c4043; 
--green_900:#236823; 
--gray_800_01:#3a3939; 
--black_900_3f:#0000003f; 
--green_700:#398f3e; 
--deep_purple_200:#b580d8; 
--black_900_01:#090b0d; 
--teal_500:#02957d; 
--teal_700:#027c68; 
--light_blue_A700:#0086ed; 
--blue_gray_900_02:#2b2d2d; 
--blue_gray_900_01:#333438; 
--blue_gray_700:#424c5d; 
--blue_gray_900:#262b35; 
--black_900_03:#060405; 
--black_900_02:#130e00; 
--deep_orange_100:#fec1c1; 
--black_900_04:#000c0a; 
--gray_600:#6a7270; 
--black_900_4c:#0000004c; 
--gray_400:#c4c4c4; 
--blue_900:#1c3aa9; 
--blue_gray_100:#d6d5d5; 
--white_A700_0c:#ffffff0c; 
--blue_gray_300:#9ea8ba; 
--amber_500:#feb909; 
--gray_800:#434041; 
--amber_300:#ffd964; 
--black_900_0c:#0000000c; 
--black_900_0e:#0000000e; 
--blue_50:#e0ebff; 
--gray_400_01:#acb2b0; 
--gray_400_02:#c1c1c1; 
--blue_100:#c6e2fa; 
--black_900_19:#00000019; 
--green_600_01:#34a853; 
--black_900_14:#00000014; 
--blue_gray_400_01:#75839d; 
--white_A700:#ffffff; 
--indigo_800:#253b80; 
--blue_gray_50:#eaecf0; 
--red_700:#d03329; 
--blue_A700:#0061ff; 
--blue_gray_100_01:#d6dae2; 
--blue_gray_100_02:#d6d6d6; 
--gray_600_19:#7e7e7e19; 
--amber_500_01:#fbbc04; 
--light_blue_600:#179bd7; 
--red_500:#ea4335; 
--light_blue_400:#1ba9ff; 
--green_800:#29752b; 
--green_600:#349765; 
--blue_A700_01:#0065ff; 
--gray_50:#f9fbff; 
--blue_A700_02:#0a58ff; 
--green_400:#65bc6a; 
--black_900:#000000; 
--blue_A200_02:#468ee5; 
--blue_A200_01:#4285f4; 
--gray_500_01:#979797; 
--blue_gray_800:#394250; 
--black_900_29:#00000029; 
--blue_50_01:#d2e4ff; 
--gray_500_02:#ababab; 
--gray_700_51:#67676751; 
--deep_orange_400:#ff7545; 
--gray_700_11:#55555511; 
--black_900_e4:#000000e4; 
--gray_900_02:#1b222d; 
--gray_900_03:#11142d; 
--blue_gray_200:#bac1ce; 
--gray_500:#a6a6a6; 
--gray_600_01:#737373; 
--blue_gray_400:#74839d; 
--amber_400:#f2cb2a; 
--blue_gray_600:#5f6c86; 
--gray_900:#0d1624; 
--gray_900_01:#242424; 
--blue_600:#378fd3; 
--blue_gray_900_7f:#3333337f; 
--teal_50:#dfecea; 
--blue_gray_800_01:#394150; 
--gray_100:#f6f6f6; 
--white_A700_87:#ffffff87; 
--blue_400:#3a96dd; 
--indigo_900:#222d65; 
--gray_800_2b:#4545452b; 
}